.headline {
  color: gold;
  text-transform: uppercase;
}
  
.byline {
  color: gray;
  font-size: 0.9em;
  letter-spacing: 2px;
}

.h2-black  h2 { color: #000000 !important; }
.h2-blue   h2 { color: #4487F2 !important; }
.h2-gray   h2 { color: #777777 !important; }
.h2-green  h2 { color: #8EA33B !important; }
.h2-orange h2 { color: #F26225 !important; }
.h2-gold   h2 { color: #E58537 !important; }
.h2-pink   h2 { color: #E71E60 !important; }
.h2-purple h2 { color: #643B85 !important; }
.h2-yellow h2 { color: #F5DB2E !important; }
.h2-white  h2 { color: #FFFFFF !important; }

.def-font {font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN','メイリオ', Meiryo,sans-serif;}
.ms-gothic {font-family: 'ＭＳ ゴシック',sans-serif;}
.yu-mincho {font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif;}