.headline {
  color: gold;
  text-transform: uppercase;
}
  
.byline {
  color: gray;
  font-size: 0.9em;
  letter-spacing: 2px;
}

/*
.pagetitle {
  color : blue;
  font-size : 2.0em;
  text-align: left;
  vertical-align : top; 
}
*/